# Python
.venv/
__pycache__/
*.pyc

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python caches
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# Build
dist/
build/